<header class="header bg-transparent absolute top-0 left-0 z-40 w-full flex items-center">
  <div class="container">
    <div class="flex mx-[-16px] items-center justify-between relative">
      <div class="px-4 w-60 max-w-full">
        <a routerLink="/" class="w-full block py-8 header-logo">
          <img src="assets/logo.svg" alt="logo" class="w-full dark:hidden">
          <img src="assets/dark-logo.svg" alt="logo" class="w-full hidden dark:block">
        </a>
      </div>
      <div class="flex px-4 justify-between items-center w-full">
        <div>
          <header-nav-menu [loginedUser]="loginedUser"></header-nav-menu>
        </div>
        <div class="flex justify-end items-center pr-16 lg:pr-0">
          <a *ngIf="!loginedUser" [routerLink]="['/auth','login']"
             class="hidden md:block text-base font-bold text-dark dark:text-white hover:opacity-70 py-3 px-7">
            Sign In
          </a>
          <a *ngIf="!loginedUser" [routerLink]="['/auth','register']"
             class="hidden md:block text-base font-bold text-white bg-[#4a6cf7] py-3 px-8 md:px-9 lg:px-6 xl:px-9 hover:shadow-signUp hover:bg-opacity-90 rounded-md transition ease-in-up duration-300">
            Sign Up
          </a>
          <div>
            <header-theme-switcher></header-theme-switcher>
          </div>
          <header-profile-menu [loginedUser]="loginedUser"
                               (logout)="logout()">
          </header-profile-menu>
        </div>
      </div>
    </div>
  </div>
</header>
