<div class="absolute z-50 top-16 left-1/2 -translate-x-1/2 flex bg-white dark:bg-gray-700 rounded-lg shadow-lg overflow-hidden mx-auto lg:w-1/4">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full space-y-6 p-8">
    <div class="space-y-1 mb-4">
      <label for="name"
             class="block mb-2 text-sm font-medium"
             [ngClass]="{
                       'label-invalid': submitted && f['name'].errors,
                       'label-valid': submitted &&  !f['name'].errors,
                       'text-gray-900 dark:text-white': !submitted
                     }"
      >
        Course Name
      </label>
      <div class="relative mb-6">
        <input type="text" id="name"
               formControlName="name"
               class="border text-sm rounded-lg block w-full p-2.5"
               [ngClass]="{
                        'input-invalid': submitted && f['name'].errors,
                        'input-valid': submitted &&  !f['name'].errors,
                        'bg-gray-50 border-gray-300 text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': !submitted
                       }"
        >
      </div>
      <p *ngIf="submitted && f['name'].errors" class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span *ngIf="f['name'].errors?.['required']">Course Name is required</span>
      </p>
    </div>

    <div class="space-y-1 mb-4">
      <label for="section"
             class="block mb-2 text-sm font-medium"
             [ngClass]="{
                       'label-invalid': submitted && f['section'].errors,
                       'label-valid': submitted &&  !f['section'].errors,
                       'text-gray-900 dark:text-white': !submitted
                     }"
      >
        Section
      </label>
      <div class="relative mb-6">
        <input type="text" id="section"
               formControlName="section"
               class="border text-sm rounded-lg block w-full p-2.5"
               [ngClass]="{
                        'input-invalid': submitted && f['section'].errors,
                        'input-valid': submitted &&  !f['section'].errors,
                        'bg-gray-50 border-gray-300 text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': !submitted
                       }"
        >
      </div>
    </div>

    <div class="space-y-1 mb-4">
      <label for="description"
             class="block mb-2 text-sm font-medium"
             [ngClass]="{
                       'label-invalid': submitted && f['description'].errors,
                       'label-valid': submitted &&  !f['description'].errors,
                       'text-gray-900 dark:text-white': !submitted
                     }"
      >
        Description
      </label>
      <div class="relative mb-6">
        <textarea id="description"
                  formControlName="description"
                  rows="4"
                  class="block p-2.5 w-full text-sm rounded-lg border"
                  [ngClass]="{
                        'input-invalid': submitted && f['description'].errors,
                        'input-valid': submitted &&  !f['description'].errors,
                        'text-gray-900 bg-gray-50 border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': !submitted
                       }">
        </textarea>
      </div>
    </div>

    <div class="flex items-center mb-4">
      <input id="isOnlyForCodeAccess" formControlName="isOnlyForCodeAccess" type="checkbox" class="w-4 h-4 text-primary-600 bg-gray-100 border-gray-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="isOnlyForCodeAccess" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Make access to join only with code?</label>
    </div>

    <div>
      <button type="submit"
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
        Create
      </button>
    </div>
  </form>

  <button type="button" (click)="modalService.close()" class="absolute right-0 p-2 m-1 rounded-md hover:bg-gray-100 dark:hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-white dark:focus:ring-gray-400 h-10 text-gray-700 dark:text-gray-500 dark:hover:text-gray-200 hover:text-black">
    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
         stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
    </svg>
  </button>
</div>
