<section class="relative z-10 pt-[150px] pb-[80px] overflow-hidden">
  <div class="container">
    <div class="flex flex-wrap mx-[-16px]">
      <div class="w-full px-4">
        <div class="max-w-[500px] mx-auto bg-[#4a6cf7] bg-opacity-5 dark:bg-[#1d2144] rounded-md p-12 sm:p-[60px]">
          <h3 class="font-bold text-[#1d2144] dark:text-white text-2xl sm:text-3xl mb-3 text-center">Settings</h3>
          <p class="font-medium text-base text-[#959cb1] mb-11 text-center">This information will be displayed publicly so be careful what you share.</p>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-8">
              <label class="block text-sm font-medium mb-3"
                     [ngClass]="{
                      'label-invalid': submitted && f['firstName'].errors,
                      'label-valid': submitted &&  !f['firstName'].errors,
                      'text-[#1d2144] dark:text-white': !submitted
                     }"
                     for="firstName">
                Your First Name
              </label>
              <input type="text" id="firstName"
                     formControlName="firstName"
                     placeholder="Enter your First Name"
                     class="w-full dark:bg-[#242B51] border border-transparent rounded-md shadow-one py-3 px-6 text-base outline-none focus-visible:shadow-none"
                     [ngClass]="{
                                'input-invalid': submitted && f['firstName'].errors,
                                'input-valid': submitted &&  !f['firstName'].errors,
                                'text-[#959cb1] placeholder-[#959cb1] focus:border-[#4a6cf7]': !submitted
                                }">
              <p *ngIf="submitted && f['firstName'].errors" class="mt-2 text-sm text-red-600 dark:text-red-500">
                <span *ngIf="f['firstName'].errors?.['required']">First Name is required</span>
              </p>
            </div>
            <div class="mb-8">
              <label class="block text-sm font-medium mb-3"
                     [ngClass]="{
                      'label-invalid': submitted && f['lastName'].errors,
                      'label-valid': submitted &&  !f['lastName'].errors,
                      'text-[#1d2144] dark:text-white': !submitted
                     }"
                     for="lastName">
                Your Last Name
              </label>
              <input type="text" id="lastName"
                     formControlName="lastName"
                     placeholder="Enter your Last Name"
                     class="w-full dark:bg-[#242B51] border border-transparent rounded-md shadow-one py-3 px-6 text-base outline-none focus-visible:shadow-none"
                     [ngClass]="{
                                'input-invalid': submitted && f['lastName'].errors,
                                'input-valid': submitted &&  !f['lastName'].errors,
                                'text-[#959cb1] placeholder-[#959cb1] focus:border-[#4a6cf7]': !submitted
                                }">
              <p *ngIf="submitted && f['lastName'].errors" class="mt-2 text-sm text-red-600 dark:text-red-500">
                <span *ngIf="f['lastName'].errors?.['required']">Last Name is required</span>
              </p>
            </div>
            <div class="mb-6">
              <button
                class="w-full flex items-center justify-center text-base font-medium text-white bg-[#4a6cf7] py-4 px-9 hover:shadow-signUp hover:bg-opacity-80 transition duration-300 ease-in-out rounded-md">
                Save
              </button>
            </div>
          </form>
          <p class="font-medium text-base text-[#959cb1] text-center">
            <a class="text-[#4a6df7] hover:underline" [routerLink]="['/profile',user.slug]"> Back to profile </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
  <span class="absolute top-0 left-0 z-[-1]">
<svg width="287" height="254" viewBox="0 0 287 254" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" d="M286.5 0.5L-14.5 254.5V69.5L286.5 0.5Z" fill="url(#paint0_linear_111:578)"></path>
<defs>
<linearGradient id="paint0_linear_111:578" x1="-40.5" y1="117" x2="301.926" y2="-97.1485"
                gradientUnits="userSpaceOnUse">
<stop stop-color="#4A6CF7"></stop>
<stop offset="1" stop-color="#4A6CF7" stop-opacity="0"></stop>
</linearGradient>
</defs>
</svg>
</span>
    <span class="absolute right-0 top-0 z-[-1]">
<svg width="628" height="258" viewBox="0 0 628 258" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" d="M669.125 257.002L345.875 31.9983L524.571 -15.8832L669.125 257.002Z"
      fill="url(#paint0_linear_0:1)"></path>
<path opacity="0.1" d="M0.0716344 182.78L101.988 -15.0769L142.154 81.4093L0.0716344 182.78Z"
      fill="url(#paint1_linear_0:1)"></path>
<defs>
<linearGradient id="paint0_linear_0:1" x1="644" y1="221" x2="429.946" y2="37.0429" gradientUnits="userSpaceOnUse">
<stop stop-color="#4A6CF7"></stop>
<stop offset="1" stop-color="#4A6CF7" stop-opacity="0"></stop>
</linearGradient>
<linearGradient id="paint1_linear_0:1" x1="18.3648" y1="166.016" x2="105.377" y2="32.3398"
                gradientUnits="userSpaceOnUse">
<stop stop-color="#4A6CF7"></stop>
<stop offset="1" stop-color="#4A6CF7" stop-opacity="0"></stop>
</linearGradient>
</defs>
</svg>
</span>
  </div>
</section>
